In [67]:
import numpy as np
import pandas as pd

In [68]:
data_1980 = pd.read_csv("data/1980_tracts.csv")
tract_puma = pd.read_csv("data/tract_puma.txt", dtype=str)

In [69]:
data_1980

,Geo_FIPS,Geo_NAME,Geo_QName,Geo_NATION,Geo_STATE,Geo_COUNTY,Geo_CT,TOT_POP,HH_MED_INC,HH_OCC,...,SE_T106_018,SE_T106_019,SE_T106_020,SE_T106_021,SE_T106_022,SE_T106_023,SE_T178_001,SE_T178_002,HH_OWN_M,HH_OWN_NOM
0,6001400100,Census Tract 4001,"Census Tract 4001, Alameda County, California",0,6,1,400100,2291.876518,119599.91430,1042.383736,...,12.700083,16.607801,39.077178,39.077178,16.607801,39.077178,577.0,167.0,1679.07,485.97
1,6001400200,Census Tract 4002,"Census Tract 4002, Alameda County, California",0,6,1,400200,2019.384363,51830.18531,904.724183,...,88.972875,33.989638,22.992990,13.995733,0.000000,23.992686,367.0,98.0,1067.97,285.18
2,6001400300,Census Tract 4003,"Census Tract 4003, Alameda County, California",0,6,1,400300,4865.615676,43658.38112,2506.275836,...,113.027126,56.010363,41.007010,14.004267,0.000000,0.007315,334.0,83.0,971.94,241.53
3,6001400400,Census Tract 4004,"Census Tract 4004, Alameda County, California",0,6,1,400400,3849.999998,43991.33042,1788.999999,...,71.000000,91.000000,11.000000,6.000000,0.000000,0.000000,327.0,101.0,951.57,293.91
4,6001400500,Census Tract 4005,"Census Tract 4005, Alameda County, California",0,6,1,400500,3260.999976,36246.21853,1493.999989,...,74.999999,94.999999,15.000000,7.000000,0.000000,0.000000,303.0,98.0,881.73,285.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8052,6115040800,Census Tract 408,"Census Tract 408, Yuba County, California",0,6,115,40800,2096.000034,48122.48776,763.000012,...,39.000001,8.000000,5.000000,7.000000,0.000000,6.000000,284.0,78.0,826.44,226.98
8053,6115040901,Census Tract 409.01,"Census Tract 409.01, Yuba County, California",0,6,115,40901,5866.322758,37817.22203,1602.588971,...,22.935558,7.166999,21.503834,7.168417,6.450299,0.000000,313.0,101.0,910.83,293.91
8054,6115040902,Census Tract 409.02,"Census Tract 409.02, Yuba County, California",0,6,115,40902,2318.807908,37813.98951,633.458092,...,9.065590,2.832997,8.498990,2.832997,2.549697,0.000000,313.0,101.0,910.83,293.91
8055,6115041000,Census Tract 410,"Census Tract 410, Yuba County, California",0,6,115,41000,4578.641966,56181.15385,1551.607081,...,13.492842,47.514897,41.172140,6.317638,7.108220,6.099937,403.0,110.0,1172.73,320.10
8056,6115041100,Census Tract 411,"Census Tract 411, Yuba County, California",0,6,115,41100,3942.949931,36676.14336,1502.350282,...,77.009210,54.009229,16.007910,23.004224,5.003173,0.001828,272.0,90.0,791.52,261.90

In [70]:
tract_puma["PUMA"] = tract_puma["STATEFP"] + tract_puma["PUMA5CE"]
tract_puma["tract"] = tract_puma["STATEFP"] + tract_puma["COUNTYFP"] + tract_puma["TRACTCE"]
tract_puma = tract_puma.set_index("tract")
tract_puma.head()

            STATEFP COUNTYFP TRACTCE PUMA5CE     PUMA
tract
01001020100      01      001  020100   02100  0102100
01001020200      01      001  020200   02100  0102100
01001020300      01      001  020300   02100  0102100
01001020400      01      001  020400   02100  0102100
01001020500      01      001  020500   02100  0102100

In [71]:
data_1980["Geo_FIPS"] = data_1980["Geo_FIPS"].astype(str).str.zfill(11)
data_1980

,Geo_FIPS,Geo_NAME,Geo_QName,Geo_NATION,Geo_STATE,Geo_COUNTY,Geo_CT,TOT_POP,HH_MED_INC,HH_OCC,...,SE_T106_018,SE_T106_019,SE_T106_020,SE_T106_021,SE_T106_022,SE_T106_023,SE_T178_001,SE_T178_002,HH_OWN_M,HH_OWN_NOM
0,06001400100,Census Tract 4001,"Census Tract 4001, Alameda County, California",0,6,1,400100,2291.876518,119599.91430,1042.383736,...,12.700083,16.607801,39.077178,39.077178,16.607801,39.077178,577.0,167.0,1679.07,485.97
1,06001400200,Census Tract 4002,"Census Tract 4002, Alameda County, California",0,6,1,400200,2019.384363,51830.18531,904.724183,...,88.972875,33.989638,22.992990,13.995733,0.000000,23.992686,367.0,98.0,1067.97,285.18
2,06001400300,Census Tract 4003,"Census Tract 4003, Alameda County, California",0,6,1,400300,4865.615676,43658.38112,2506.275836,...,113.027126,56.010363,41.007010,14.004267,0.000000,0.007315,334.0,83.0,971.94,241.53
3,06001400400,Census Tract 4004,"Census Tract 4004, Alameda County, California",0,6,1,400400,3849.999998,43991.33042,1788.999999,...,71.000000,91.000000,11.000000,6.000000,0.000000,0.000000,327.0,101.0,951.57,293.91
4,06001400500,Census Tract 4005,"Census Tract 4005, Alameda County, California",0,6,1,400500,3260.999976,36246.21853,1493.999989,...,74.999999,94.999999,15.000000,7.000000,0.000000,0.000000,303.0,98.0,881.73,285.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8052,06115040800,Census Tract 408,"Census Tract 408, Yuba County, California",0,6,115,40800,2096.000034,48122.48776,763.000012,...,39.000001,8.000000,5.000000,7.000000,0.000000,6.000000,284.0,78.0,826.44,226.98
8053,06115040901,Census Tract 409.01,"Census Tract 409.01, Yuba County, California",0,6,115,40901,5866.322758,37817.22203,1602.588971,...,22.935558,7.166999,21.503834,7.168417,6.450299,0.000000,313.0,101.0,910.83,293.91
8054,06115040902,Census Tract 409.02,"Census Tract 409.02, Yuba County, California",0,6,115,40902,2318.807908,37813.98951,633.458092,...,9.065590,2.832997,8.498990,2.832997,2.549697,0.000000,313.0,101.0,910.83,293.91
8055,06115041000,Census Tract 410,"Census Tract 410, Yuba County, California",0,6,115,41000,4578.641966,56181.15385,1551.607081,...,13.492842,47.514897,41.172140,6.317638,7.108220,6.099937,403.0,110.0,1172.73,320.10
8056,06115041100,Census Tract 411,"Census Tract 411, Yuba County, California",0,6,115,41100,3942.949931,36676.14336,1502.350282,...,77.009210,54.009229,16.007910,23.004224,5.003173,0.001828,272.0,90.0,791.52,261.90

In [72]:
data_1980["PUMA"] = tract_puma.loc[data_1980["Geo_FIPS"], "PUMA"].values
data_1980

,Geo_FIPS,Geo_NAME,Geo_QName,Geo_NATION,Geo_STATE,Geo_COUNTY,Geo_CT,TOT_POP,HH_MED_INC,HH_OCC,...,SE_T106_019,SE_T106_020,SE_T106_021,SE_T106_022,SE_T106_023,SE_T178_001,SE_T178_002,HH_OWN_M,HH_OWN_NOM,PUMA
0,06001400100,Census Tract 4001,"Census Tract 4001, Alameda County, California",0,6,1,400100,2291.876518,119599.91430,1042.383736,...,16.607801,39.077178,39.077178,16.607801,39.077178,577.0,167.0,1679.07,485.97,0600103
1,06001400200,Census Tract 4002,"Census Tract 4002, Alameda County, California",0,6,1,400200,2019.384363,51830.18531,904.724183,...,33.989638,22.992990,13.995733,0.000000,23.992686,367.0,98.0,1067.97,285.18,0600103
2,06001400300,Census Tract 4003,"Census Tract 4003, Alameda County, California",0,6,1,400300,4865.615676,43658.38112,2506.275836,...,56.010363,41.007010,14.004267,0.000000,0.007315,334.0,83.0,971.94,241.53,0600103
3,06001400400,Census Tract 4004,"Census Tract 4004, Alameda County, California",0,6,1,400400,3849.999998,43991.33042,1788.999999,...,91.000000,11.000000,6.000000,0.000000,0.000000,327.0,101.0,951.57,293.91,0600102
4,06001400500,Census Tract 4005,"Census Tract 4005, Alameda County, California",0,6,1,400500,3260.999976,36246.21853,1493.999989,...,94.999999,15.000000,7.000000,0.000000,0.000000,303.0,98.0,881.73,285.18,0600102
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8052,06115040800,Census Tract 408,"Census Tract 408, Yuba County, California",0,6,115,40800,2096.000034,48122.48776,763.000012,...,8.000000,5.000000,7.000000,0.000000,6.000000,284.0,78.0,826.44,226.98,0610100
8053,06115040901,Census Tract 409.01,"Census Tract 409.01, Yuba County, California",0,6,115,40901,5866.322758,37817.22203,1602.588971,...,7.166999,21.503834,7.168417,6.450299,0.000000,313.0,101.0,910.83,293.91,0610100
8054,06115040902,Census Tract 409.02,"Census Tract 409.02, Yuba County, California",0,6,115,40902,2318.807908,37813.98951,633.458092,...,2.832997,8.498990,2.832997,2.549697,0.000000,313.0,101.0,910.83,293.91,0610100
8055,06115041000,Census Tract 410,"Census Tract 410, Yuba County, California",0,6,115,41000,4578.641966,56181.15385,1551.607081,...,47.514897,41.172140,6.317638,7.108220,6.099937,403.0,110.0,1172.73,320.10,0610100
8056,06115041100,Census Tract 411,"Census Tract 411, Yuba County, California",0,6,115,41100,3942.949931,36676.14336,1502.350282,...,54.009229,16.007910,23.004224,5.003173,0.001828,272.0,90.0,791.52,261.90,0610100

In [73]:
data_1980["HH_MED_OWN"] = (data_1980["HH_OWN_M"] * data_1980["HU_OWN_M"] + data_1980["HH_OWN_NOM"] * data_1980["HU_OWN_NOM"]) / (data_1980["HU_OWN_M"] + data_1980["HU_OWN_NOM"])

In [74]:
data_1980["HHCOST"] = (data_1980["HH_MED_RENT"] * data_1980["HU_RENT"] + data_1980["HH_MED_OWN"] * data_1980["HU_OWN"]) / (data_1980["HU_RENT"] + data_1980["HU_OWN"])

In [95]:
data_1980["HU_OWN_NOM"].isna().sum()

173

In [92]:
data_1980[data_1980["PUMA"] == "0600101"][["HH_MED_OWN", "HH_MED_RENT", "HHCOST"]]

      HH_MED_OWN  HH_MED_RENT       HHCOST
110   741.640444  1027.060582   811.754522
111   416.464483   861.217939   697.869424
112   609.440391   907.770260   751.440999
113          NaN   439.337530          NaN
114   699.055549   858.308419   784.573626
115   625.147157   936.865460   703.743834
116  1236.049017  1408.207710  1254.494592
117  1101.749548   922.317860  1076.492893
118   915.820488   867.036979   905.666853
119  1097.384830   997.965382  1077.664785
120  1033.082665  1082.341463  1043.508574
121  1202.103196   922.317860  1106.989256
122   895.529032   823.394178   841.867189
123   853.060077   887.403619   866.249183
124   719.997152   698.284815   709.822228
125   241.530000   482.980330   383.525790
126   555.056730   628.456334   599.163831
127   760.186744   645.913454   687.813660
128   753.625153   739.018096   743.204892
129   723.296667   733.199056   732.425661
130  1246.074542   773.932337   840.201451
131          NaN     0.000000          NaN
132  1239.975542   803.027537   848.382659
133  1604.319375   637.184894   654.605329
134  1053.420000   648.822974   656.645183
135   666.159048   707.013375   694.740929
136   579.709767   593.542093   588.241413
137   627.105000   628.456334   628.064052
138   544.537282   610.999213   576.028406
139   593.882913   669.189614   640.147743
140   789.047124   689.556255   713.824056
141   949.345180   794.298977   814.961208
142   949.345180   794.298977   814.961208
143  1331.269854   840.851298  1003.348193
144  1317.036532   849.579858  1159.602937
145   672.118825   701.194335   692.316988
146   672.118825   701.194335   692.316988
147   502.213091   631.365854   585.983090
148   502.213091   631.365854   585.983090

In [79]:
data_1980["HH_MED_INC_adj"] = data_1980["HH_MED_INC"] * data_1980["TOT_POP"]
data_1980["HH_MED_OWN_adj"] = data_1980["HH_MED_OWN"] * data_1980["TOT_POP"]
data_1980["HH_COST_adj"] = data_1980["HHCOST"] * data_1980["TOT_POP"]
data_1980["HH_MED_RENT_adj"] = data_1980["HH_MED_RENT"] * data_1980["TOT_POP"]

In [77]:
data_1980.columns

Index(['Geo_FIPS', 'Geo_NAME', 'Geo_QName', 'Geo_NATION', 'Geo_STATE',
       'Geo_COUNTY', 'Geo_CT', 'TOT_POP', 'HH_MED_INC', 'HH_OCC', 'HU_OWN',
       'HU_RENT', 'HH_MED_RENT', 'SE_T106_001', 'HU_OWN_M', 'SE_T106_003',
       'SE_T106_004', 'SE_T106_005', 'SE_T106_006', 'SE_T106_007',
       'SE_T106_008', 'SE_T106_009', 'SE_T106_010', 'SE_T106_011',
       'SE_T106_012', 'SE_T106_013', 'SE_T106_014', 'HU_OWN_NOM',
       'SE_T106_016', 'SE_T106_017', 'SE_T106_018', 'SE_T106_019',
       'SE_T106_020', 'SE_T106_021', 'SE_T106_022', 'SE_T106_023',
       'SE_T178_001', 'SE_T178_002', 'HH_OWN_M', 'HH_OWN_NOM', 'PUMA',
       'HH_MED_OWN', 'HHCOST', 'HH_MED_INC_adj', 'HH_MED_OWN_adj',
       'HH_COST_adj'],
      dtype='object')

In [90]:
puma_1980 = data_1980.groupby("PUMA").sum()[["HH_MED_INC_adj", "HH_MED_OWN_adj", "HH_MED_RENT_adj", "HH_COST_adj", "TOT_POP"]]
puma_1980["HH_MED_INC_adj"] = puma_1980["HH_MED_INC_adj"] / puma_1980["TOT_POP"]
puma_1980["HH_MED_RENT_adj"] = puma_1980["HH_MED_RENT_adj"] / puma_1980["TOT_POP"]
puma_1980["HH_MED_OWN_adj"] = puma_1980["HH_MED_OWN_adj"] / puma_1980["TOT_POP"]
puma_1980["HH_COST_adj"] = puma_1980["HH_COST_adj"] / puma_1980["TOT_POP"]

In [91]:
puma_1980

,HH_MED_INC_adj,HH_MED_OWN_adj,HH_MED_RENT_adj,HH_COST_adj,TOT_POP
PUMA,,,,,
0600101,50018.847181,856.438828,769.771394,766.867224,118457.807644
0600102,34851.446602,625.808985,616.302917,600.702952,126421.457426
0600103,77513.523231,1011.601145,934.001796,991.014859,119934.816308
0600104,40949.903922,624.408057,675.276894,650.493771,103290.400697
0600105,61895.541457,747.099185,872.190844,786.058582,131891.342092
...,...,...,...,...,...
0611103,55492.859502,924.087683,857.798036,871.449339,116785.462361
0611104,63434.131310,967.392316,954.999215,956.131141,80223.093618
0611105,61572.360051,935.422169,834.848997,908.708777,95841.155649
0611106,76038.370262,1209.092588,1004.128794,1162.054845,71350.389642
0611300,51106.355352,906.520638,708.706111,792.011796,113379.839346

In [ ]:
data_1980.groupby("PUMA")