In [1]:
import numpy as np
import pandas as pd

In [2]:
# reading in PUMA-MIGPUMA equivalency data
puma_migpuma = pd.read_excel("data/puma_migpuma.xlsx", dtype="str")
puma_migpuma["PUMA"] = puma_migpuma["State"] + puma_migpuma["PUMA"]
puma_migpuma["MIGPUMA"] = puma_migpuma["State"] + puma_migpuma["MIGPUMA"]
# some MIGPUMA fields have footnotes
puma_migpuma["MIGPUMA"] = puma_migpuma["MIGPUMA"].str.strip("*")
puma_migpuma = puma_migpuma.set_index("PUMA")
puma_migpuma.head()

        State  MIGPUMA
PUMA
0100100    01  0100190
0100200    01  0100290
0100301    01  0100290
0100302    01  0100290
0100400    01  0100400

In [3]:
# puma_migpuma.to_excel("data/puma_migpuma_clean.xlsx")

In [3]:
temp = pd.read_csv("data/ACS_MIGPUMA_2017_new.csv")
temp

,MIGPUMA,Geo_FIPS,Geo_LOGRECNO,Geo_STATE,Geo_PUMA5,Total Population,Population Density (Per Sq. Mile),Area (Land),Area Total,Area Total Area (Land),...,Civilian Population 18 Years and Over Veteran,Civilian Population 18 Years and Over Veteran 18 to 64 Years,Civilian Population 18 Years and Over Veteran 65 Years and Over,Civilian Population 18 Years and Over Nonveteran,Civilian Population 18 Years and Over Nonveteran 18 to 64 Years,Civilian Population 18 Years and Over Nonveteran 65 Years and Over,Total Population Native Born,Total Population Foreign Born,Total Population Foreign Born Naturalized Citizen,Total Population Foreign Born Not a Citizen
0,0100190,201500,128,2,1500,302838,64.984558,4660.153273,4773.22600,4660.15300,...,18905,9293,9612,219119,170114,49005,294519.0,8319.0,2862.0,5457.0
1,0100290,401303,231,4,1303,550996,285.878530,1927.378036,2043.06821,1927.37761,...,44892,28023,16869,380437,313681,66756,520798.0,30198.0,13427.0,16771.0
2,0100400,100400,59,1,400,123526,66.592198,1854.962059,1905.45600,1854.96200,...,7252,3284,3968,88605,70768,17837,116336.0,7190.0,1938.0,5252.0
3,0100600,100600,61,1,600,151867,119.576756,1270.037798,1316.25200,1270.03800,...,9397,5205,4192,108234,86000,22234,146475.0,5392.0,1383.0,4009.0
4,0100700,100700,62,1,700,106477,78.996099,1347.876688,1386.88900,1347.87700,...,5688,2876,2812,77805,60824,16981,104424.0,2053.0,559.0,1494.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000,7200900,14401803,153,144,1803,292913,2475.646117,118.317799,180.31621,118.31780,...,7691,3067,4624,227340,174187,53153,279723.0,13190.0,6855.0,6335.0
1001,7201001,7201001,78,72,1001,129604,2211.557194,58.603051,59.06752,58.60305,...,3473,1271,2202,100602,77363,23239,127708.0,1896.0,798.0,1098.0
1002,7201002,7201002,79,72,1002,161248,1140.658831,141.363917,142.02710,141.36390,...,2092,974,1118,123930,98243,25687,0.0,0.0,0.0,0.0
1003,7201101,7201101,80,72,1101,121803,586.299924,207.748620,833.04520,207.74860,...,2834,1293,1541,95144,71498,23646,0.0,0.0,0.0,0.0
1004,7201102,7201102,81,72,1102,113014,745.324057,151.630689,226.89970,151.63070,...,983,294,689,90765,67800,22965,0.0,0.0,0.0,0.0

In [5]:
temp["MIGPUMA"] = temp["MIGPUMA"].str.strip("*")

In [7]:
temp["MIGPUMA"].astype(int)

0        100190
1        100290
2        100400
3        100600
4        100700
         ...
1000    7200900
1001    7201001
1002    7201002
1003    7201101
1004    7201102
Name: MIGPUMA, Length: 1005, dtype: int32

In [8]:
temp.to_csv("data/ACS_MIGPUMA_2017_new.csv")

In [10]:
lodes1 = pd.read_csv("data/wac_migpuma.csv")
lodes1

,MIGPUMA,TOT_JOBS,JOBS_AGE_29,JOBS_AGE_30_54,JOBS_AGE_55,JOBS_EARN_1250,JOBS_EARN_1251_3333,JOBS_EARN_3334,AGR,EXT,...,EDU,MED,ENT,FOD,SRV,PUB,JOBS_EDU_NOHS,JOBS_EDU_HS,JOBS_EDU_NOBACH,JOBS_EDU_BACH
0,0100190,98779,25260,51315,22204,24429,40764,33586,804,496,...,8442,14392,673,9445,2087,4809,9425,24176,24604,15314
1,0100290,251113,61138,133922,56053,57381,83406,110326,978,110,...,17880,31247,3529,22888,4706,9503,22517,53389,60427,53642
2,0100400,38349,9478,20490,8381,8663,17262,12424,339,20,...,3249,4185,103,2904,536,1831,4218,10119,9416,5118
3,0100600,55347,12855,30219,12273,12340,20116,22891,224,68,...,3955,6304,283,4922,1059,2021,5588,13943,14067,8894
4,0100700,37022,9531,19312,8179,8457,16222,12343,483,14,...,2931,4713,190,3076,679,1777,3639,9418,9358,5076
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,5600100,54624,11754,29036,13834,14569,17808,22247,882,1574,...,5316,8056,1740,9497,1628,3025,4896,12946,14447,10581
971,5600200,45443,8889,24613,11941,9694,13269,22480,615,6767,...,4983,5484,335,3835,1408,3810,3921,12436,12994,7203
972,5600300,63021,15408,32819,14794,14940,20399,27682,499,791,...,8711,9714,682,6383,1698,7672,5195,13416,16437,12565
973,5600400,53153,11890,28441,12822,11754,16371,25028,526,4880,...,4856,7425,838,5363,1792,3215,4663,13825,14622,8153
974,5600500,52023,10586,28254,13183,11987,15653,24383,378,6601,...,6529,6784,465,5267,1223,4338,4640,13677,14717,8403

In [12]:
lodes1["MIGPUMA"] = lodes1["MIGPUMA"].str.strip("*")

In [14]:
lodes1.to_csv("data/wac_migpuma.csv")

In [2]:
lodes2 = pd.read_csv("data/wac_migpuma_2017.csv")

In [3]:
lodes2["MIGPUMA"] = lodes2["MIGPUMA"].str.strip("*")

In [4]:
lodes2.to_csv("data/wac_migpuma_2017.csv")