In [1]:
import numpy as np
import pandas as pd
from tqdm import tqdm

In [2]:
import gc

In [3]:
df = pd.read_csv("data/us_estdata_cleaned.csv")

In [4]:
NUM_SAMPLE = 150000
ALTERNATIVE_SAMPLE = 200

In [5]:
df = df.iloc[:NUM_SAMPLE]

In [6]:
gc.collect()

141

In [7]:
df["MED"] = np.where(df["NAICS"] == "MED", 1, 0)
df["MFG"] = np.where(df["NAICS"] == "MFG", 1, 0)
df["RET"] = np.where(df["NAICS"] == "RET", 1, 0)
df["EDU"] = np.where(df["NAICS"] == "EDU", 1, 0)
df["ADM"] = np.where(df["NAICS"] == "ADM", 1, 0)
df["FOD"] = np.where(df["NAICS"] == "FOD", 1, 0)
df["PRF"] = np.where(df["NAICS"] == "PRF", 1, 0)
df["TRN"] = np.where(df["NAICS"] == "TRN", 1, 0)
df["SRV"] = np.where(df["NAICS"] == "SRV", 1, 0)
df["FIN"] = np.where(df["NAICS"] == "FIN", 1, 0)
df["WHL"] = np.where(df["NAICS"] == "WHL", 1, 0)
df["AGR"] = np.where(df["NAICS"] == "AGR", 1, 0)
df["PUB"] = np.where(df["NAICS"] == "PUB", 1, 0)
df["INF"] = np.where(df["NAICS"] == "INF", 1, 0)
df["ENT"] = np.where(df["NAICS"] == "ENT", 1, 0)
df["REL"] = np.where(df["NAICS"] == "REL", 1, 0)
df["UTL"] = np.where(df["NAICS"] == "UTL", 1, 0)
df["EXT"] = np.where(df["NAICS"] == "EXT", 1, 0)
df["MNG"] = np.where(df["NAICS"] == "MNG", 1, 0)
df["CON"] = np.where(df["NAICS"] == "CON", 1, 0)
df["NO_IND"] = np.where(df["NAICS"].isna(), 1, 0)

In [8]:
# clean up the database (Biogeme Database can only have numerical values)
df = df.fillna(0)

In [9]:
df["AGE_18_34"] = np.where(df["AGEP"] <= 34, 1, 0)
df["AGE_35_64"] = np.where((df["AGEP"] >= 35) & (df["AGEP"] <= 64), 1, 0)
df["AGE_OVER_65"] = np.where((df["AGEP"] >= 65), 1, 0)
df["FOREIGN"] = np.where(df["NATIVITY"] == 2, 1, 0)

In [10]:
df["AGE_18_22"] = np.where(df["AGEP"] <= 22, 1, 0)
df["AGE_23_29"] = np.where((df["AGEP"] >= 23) & (df["AGEP"] <= 29), 1, 0)
df["AGE_30_39"] = np.where((df["AGEP"] >= 30) & (df["AGEP"] <= 39), 1, 0)
df["AGE_40_49"] = np.where((df["AGEP"] >= 40) & (df["AGEP"] <= 49), 1, 0)
df["AGE_50_64"] = np.where((df["AGEP"] >= 50) & (df["AGEP"] <= 64), 1, 0)

In [11]:
df["IN_COLLEGE"] = np.where((df["SCHG"] == 15) | (df["SCHG"] == 16), 1, 0)
df["IN_COLLEGE"]

0         0
1         0
2         0
3         0
4         0
         ..
149995    1
149996    0
149997    0
149998    0
149999    0
Name: IN_COLLEGE, Length: 150000, dtype: int64

In [12]:
df["EDU_LESS_HIGH"] = np.where(df["SCHL"] <= 15, 1, 0)
df["EDU_HIGH"] = np.where((df["SCHL"] <= 20) & (df["SCHL"] >= 16), 1, 0) 
df["EDU_COLLEGE"] = np.where(df["SCHL"] >= 21, 1, 0)
df["EDU_NOCOLLEGE"] = np.where(df["EDU_COLLEGE"] == 0, 1, 0)

In [13]:
df["WOMAN_CHILD"] = np.where((df["PAOC"] >= 1) & (df["PAOC"] <= 3), 1, 0)
df["UNEMPLOYED"] = np.where(df["ESR"] == 3, 1, 0)

In [14]:
df["MALE"] = np.where(df["SEX"] == 1, 1, 0)
df["FEMALE"] = np.where(df["SEX"] == 0, 1, 0)

In [15]:
df["MARRIED"] = np.where(df["MAR"] == 1, 1, 0)

In [16]:
df["REC_NO_MAR"] = np.where((df["MARHD"] == 1) | (df["MARHW"] == 1), 1, 0)
df["REC_NO_MAR"].value_counts()

0    147875
1      2125
Name: REC_NO_MAR, dtype: int64

In [17]:
df["MARHM_new"] = np.where(df["MARHM"] == 2, 0, df["MARHM"])
df["MARHM_new"].value_counts()

0.0    147460
1.0      2540
Name: MARHM_new, dtype: int64

In [18]:
df["married_old"] = np.where((df["MARHM"] == df["MARRIED"]), 0, df["MARRIED"])
df["married_old"].value_counts()

1    78184
0    71816
Name: married_old, dtype: int64

In [19]:
df["MILITARY"] = np.where(df["MIL"] == 1, 1, 0)

In [20]:
# up to debate still
df["AGR_EXT"] = np.where((df["AGR"] == 1) | (df["EXT"] == 1), 1, 0)
df["HIGH_ED"] = np.where((df["MED"] == 1) | (df["EDU"] == 1) | (df["PRF"] == 1) | (df["MED"] == 1) | (df["FIN"] == 1) | (df["INF"] == 1) | (df["MED"] == 1), 1, 0)
df["LICENSE"] = np.where((df["SRV"] == 1) | (df["REL"] == 1), 1, 0)
df["OTHER_JOB"] = np.where((df["AGR_EXT"] == 0) & (df["HIGH_ED"] == 0) & (df["LICENSE"] == 0) & (df["NO_IND"] == 0), 1, 0)

In [21]:
df["MICRO_adj_ORIG"] = np.where((df["TYPE_ORIG"] == 3) | (df["TYPE_ORIG"] == 2), 1, 0)
df["METRO"] = np.where(df["TYPE_ORIG"] == 1, 1, 0)
df["T34"] = np.where(df["TYPE_ORIG"] == 0, 1, 0)

In [22]:
df["UNEMPLOYED"] = np.where((df["ESR"] == 3) | (df["ESR"] == 6), 1, 0)
df["IN_LF"] = np.where(df["ESR"] == 6, 0, 1)

In [23]:
df["WORK2_MAR"] = np.where(df["FES"] == 1, 1, 0)
df["WORK1_MAR"] = np.where((df["FES"] <= 4) & (df["FES"] >= 2), 1, 0)
df["OTHER_FAMILY"] = np.where((df["HHT"] == 2) | (df["HHT"] == 3), 1, 0)

In [24]:
df.loc[df["CBSA_NAME_ORIG"] == -1, "CBSA_NAME_ORIG"] = -2

In [25]:
df["MIGSP_ORIG"] = df["ORIGIN"].astype(str).str.zfill(7).str[0:2].astype(int)

In [26]:
df["CHOSEN"].value_counts()

102500     198
5500100    198
5500700    191
5310200    190
1200500    187
          ...
3501001     23
5541001     23
2701403     23
3100904     22
2701503     21
Name: CHOSEN, Length: 2336, dtype: int64

In [27]:
pumas = np.unique(df["CHOSEN"])

In [28]:
choices = pd.DataFrame(pd.factorize(df["CHOSEN"])[1]).reset_index().set_index(0)
choices.columns = ["code"]
choices = choices + 1
choices.loc[0] = [0]
choices = choices.sort_index()
choices

         code
0
0           0
100100   1599
100200    803
100301    359
100302   1194
...       ...
5600100   947
5600200  1691
5600300  1509
5600400  2246
5600500   633

[2337 rows x 1 columns]

In [29]:
df["custom_id"] = np.arange(len(df))
df["new_index"] = df["custom_id"]
df["CHOICE"] = np.where(df["STAY"] == 1, 0, df["CHOSEN"])
df["CHOICE_CODE"] = choices.loc[df["CHOICE"]]["code"].values

In [30]:
df = df.set_index("new_index")

In [31]:
df_estdata = df[["AGE_18_22", "AGE_23_29", "AGE_30_39", "AGE_40_49", "AGE_50_64", "AGE_OVER_65", "child", "REC_CHILD", "MARHM_new", "REC_NO_MAR", "MARRIED", "WORK2_MAR", "WORK1_MAR", "OTHER_FAMILY", "IN_COLLEGE", "MILITARY", "OWN_JOB_ORIG", "TOT_JOBS_ORIG", "HH_MED_VAL_ORIG", "GRNTP_ORIG_ADJ", "SMOCP_ORIG_ADJ", "FOREIGN", "EDU_COLLEGE", "EDU_LESS_HIGH", "IN_LF", "PINCP_ORIG_ADJ", "UNEMP_PCT_ORIG_ADJ", "T34", "METRO", "MICRO_adj_ORIG", "AGE_18_34", "AGE_35_64", "AGR_EXT", "HIGH_ED", "LICENSE", "OTHER_JOB", "POBP", "MIGSP_ORIG", "custom_id", "CHOICE_CODE", "NAICS", "CBSA_NAME_ORIG"]]

In [32]:
from pandas.api.types import is_numeric_dtype

In [33]:
def condense(df):
    for col in df.columns:
        if not is_numeric_dtype(df[col]):
            continue
        max_val = df[col].max()
        min_val = df[col].min()
        if max_val < 1 and min_val > -1:
            df[col] = df[col].astype(np.float32)
        elif max_val < 127 and min_val > -128:
            df[col] = df[col].astype(np.int8)
        elif max_val < 32767 and min_val > -32768: 
            df[col] = df[col].astype(np.int16)
        else:
            df[col] = df[col].astype(np.int32)
        gc.collect()
    gc.collect()

In [34]:
from xlogit.utils import wide_to_long

In [35]:
alt_list = choices.code.astype(np.int16)

In [36]:
condense(df_estdata)

/tmp/ipykernel_19196/3543048571.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].astype(np.int8)
/tmp/ipykernel_19196/3543048571.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].astype(np.int32)
/tmp/ipykernel_19196/3543048571.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].astype(np.int16)
/tmp/ipykernel_19196/3543048571.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].astype(np.float32)

In [37]:
long_data = wide_to_long(df_estdata, id_col="custom_id", alt_list=alt_list, alt_name="alt")
gc.collect()

0

In [38]:
long_data.head()

,custom_id,alt,AGE_18_22,AGE_23_29,AGE_30_39,AGE_40_49,AGE_50_64,AGE_OVER_65,child,REC_CHILD,...,AGE_35_64,AGR_EXT,HIGH_ED,LICENSE,OTHER_JOB,POBP,MIGSP_ORIG,CHOICE_CODE,NAICS,CBSA_NAME_ORIG
0,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,1,17,17,1,RET,218
1,0,1599,0,0,0,0,1,0,0,0,...,1,0,0,0,1,17,17,1,RET,218
2,0,803,0,0,0,0,1,0,0,0,...,1,0,0,0,1,17,17,1,RET,218
3,0,359,0,0,0,0,1,0,0,0,...,1,0,0,0,1,17,17,1,RET,218
4,0,1194,0,0,0,0,1,0,0,0,...,1,0,0,0,1,17,17,1,RET,218

In [39]:
def process_stay_variables(long_data):
    long_data["WORK2_MAR"] = (long_data["WORK2_MAR"] * long_data["MARRIED"]).astype(np.int8)
    long_data["WORK1_MAR"] = (long_data["WORK1_MAR"] * long_data["MARRIED"]).astype(np.int8)
    long_data["OWN_JOB_ORIG"] = (long_data["OWN_JOB_ORIG"] / long_data["TOT_JOBS_ORIG"]).astype(np.float32)
    long_data["PINCP_ORIG_ADJ"] = long_data["PINCP_ORIG_ADJ"] * long_data["IN_LF"]
    
    del long_data["MARRIED"]
    del long_data["TOT_JOBS_ORIG"]
    gc.collect()

In [40]:
process_stay_variables(long_data)
gc.collect()

0

In [41]:
import random
random.seed(5063)

In [42]:
def handle_accessibility(long_data):
    long_data["av"] = 0
    long_data.loc[long_data["alt"] == 0, "av"] = 1
    long_data["av"] = long_data["av"].astype(np.int8)
    possible = list(range(1, 2337))
    long_data.set_index(["custom_id", "alt"], inplace=True)
    for id in tqdm(np.unique(df.index)):
        # start = time.time()
        dest = choices.loc[df.loc[id, "CHOICE"], "code"]
        # print(time.time() - start)
        sample = random.sample(possible, ALTERNATIVE_SAMPLE)
        if dest != 0:
            sample[0] = dest
        sample = list(set(sample))
        # print(time.time() - start)
        long_data.loc[id].loc[sample, "av"] = 1
        # print(time.time() - start)
    gc.collect()

In [43]:
handle_accessibility(long_data)
gc.collect()

100%|██████████| 150000/150000 [02:30<00:00, 998.96it/s]

0

In [44]:
long_data.reset_index(inplace=True)
long_data.head(5)

,custom_id,alt,AGE_18_22,AGE_23_29,AGE_30_39,AGE_40_49,AGE_50_64,AGE_OVER_65,child,REC_CHILD,...,AGR_EXT,HIGH_ED,LICENSE,OTHER_JOB,POBP,MIGSP_ORIG,CHOICE_CODE,NAICS,CBSA_NAME_ORIG,av
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1,17,17,1,RET,218,1
1,0,1599,0,0,0,0,1,0,0,0,...,0,0,0,1,17,17,1,RET,218,0
2,0,803,0,0,0,0,1,0,0,0,...,0,0,0,1,17,17,1,RET,218,0
3,0,359,0,0,0,0,1,0,0,0,...,0,0,0,1,17,17,1,RET,218,0
4,0,1194,0,0,0,0,1,0,0,0,...,0,0,0,1,17,17,1,RET,218,0

In [45]:
long_data["custom_id"] = long_data["custom_id"].astype(np.int32)
long_data["alt"] = long_data["alt"].astype(np.int16)

In [46]:
translation = choices.reset_index().set_index("code")
translation

            0
code
0           0
1599   100100
803    100200
359    100301
1194   100302
...       ...
947   5600100
1691  5600200
1509  5600300
2246  5600400
633   5600500

[2337 rows x 1 columns]

In [47]:
def include_acs_lodes_data(long_data):
    # reading in external data
    puma_acs_data = pd.read_csv(f"data/ACS_2018.csv")
    puma_lodes_data = pd.read_csv(f"data/wac_puma.csv")

    puma_acs_data = puma_acs_data.set_index("PUMA")
    puma_lodes_data = puma_lodes_data.set_index("puma")

    puma_acs_data.loc[0] = 0
    puma_lodes_data.loc[0] = 0

    # puma_acs_data = puma_acs_data[~puma_acs_data["Geo_STATE"].isin([2, 15, 72])]

    # puma_acs_data.index = puma_recodes.loc[puma_acs_data.index].values.reshape((-1))
    # puma_lodes_data.index = puma_recodes.loc[puma_lodes_data.index].values.reshape((-1))
    
    puma_acs_data["COLLEGE"] = puma_acs_data["Population 3 Years and Over Enrolled in School Private School College"] + puma_acs_data["Population 3 Years and Over Enrolled in School Public School College"]
    puma_acs_data["COLLEGE"] = puma_acs_data["COLLEGE"].fillna(0)
    puma_acs_data["Total Population Foreign Born"] = puma_acs_data["Total Population Foreign Born"].fillna(0)
    
    long_data["ALT_POP"] = np.tile(puma_acs_data.loc[translation.loc[alt_list, 0], "Total Population"].astype(np.int32).values, NUM_SAMPLE)
    long_data["ALT_COLLEGE"] = np.tile(puma_acs_data.loc[translation.loc[alt_list, 0], "COLLEGE"].astype(np.int32).values, NUM_SAMPLE)
    long_data["ALT_MIL"] = np.tile(puma_acs_data.loc[translation.loc[alt_list, 0], "Population 16 Years and Over in Labor Force in Armed Forces"].astype(np.int32).values, NUM_SAMPLE)
    
    long_data["ALT_18_34"] = (np.tile(puma_acs_data.loc[translation.loc[alt_list, 0], "Total Population 18 to 34 Years"].astype(np.int32).values, NUM_SAMPLE) / long_data["ALT_POP"].values).astype(np.float32)
    long_data["ALT_18_34"] = long_data["ALT_18_34"].fillna(0)
    long_data["ALT_35_64"] = (np.tile(puma_acs_data.loc[translation.loc[alt_list, 0], "Total Population 35 to 64 Years"].astype(np.int32).values, NUM_SAMPLE) / long_data["ALT_POP"].values).astype(np.float32)
    long_data["ALT_35_64"] = long_data["ALT_35_64"].fillna(0)
    long_data["ALT_65"] = (np.tile(puma_acs_data.loc[translation.loc[alt_list, 0], "Total Population 65 and Over"].astype(np.int32).values, NUM_SAMPLE) / long_data["ALT_POP"].values).astype(np.float32)
    long_data["ALT_65"] = long_data["ALT_65"].fillna(0)
    long_data["ALT_FOREIGN"] = (np.tile(puma_acs_data.loc[translation.loc[alt_list, 0], "Total Population Foreign Born"].astype(np.int32).values, NUM_SAMPLE) / long_data["ALT_POP"].values).astype(np.float32)
    long_data["ALT_FOREIGN"] = long_data["ALT_FOREIGN"].fillna(0)
    
    long_data["ALT_18_34"] = (long_data["ALT_18_34"] * long_data["AGE_18_34"]).astype(np.int8)
    long_data["ALT_35_64"] = (long_data["ALT_35_64"] * long_data["AGE_35_64"]).astype(np.int8)
    long_data["ALT_65"] = (long_data["ALT_65"] * long_data["AGE_OVER_65"]).astype(np.int8)
    long_data["ALT_FOREIGN"] = long_data["ALT_FOREIGN"] * long_data["FOREIGN"]
    long_data["ALT_COLLEGE"] = long_data["ALT_COLLEGE"] * long_data["IN_COLLEGE"]
    
    long_data["ALT_JOBS"] = np.tile(puma_lodes_data.loc[translation.loc[alt_list, 0], "TOT_JOBS"].astype(np.int32).values, NUM_SAMPLE)
    
    long_data["ALT_ENT"] = (np.tile(puma_lodes_data.loc[translation.loc[alt_list, 0], "ENT"].astype(np.int32).values, NUM_SAMPLE) / long_data["ALT_JOBS"].values).astype(np.float32)
    long_data["ALT_ENT"] = long_data["ALT_ENT"].fillna(0)
    
    long_data["ALT_ENT_18_34"] = long_data["ALT_ENT"] * long_data["AGE_18_34"]
    long_data["ALT_ENT_35_64"] = long_data["ALT_ENT"] * long_data["AGE_35_64"]
    long_data["ALT_ENT_OVER_65"] = long_data["ALT_ENT"] * long_data["AGE_OVER_65"]
    
    long_data["ALT_OWN_JOB"] = np.where(long_data["NAICS"] == 0, 0, puma_lodes_data.lookup(np.tile(translation.loc[alt_list, 0], NUM_SAMPLE), long_data["NAICS"].replace(0, "EDU")))
    
    long_data["ALT_OWN_JOB"] = (long_data["ALT_OWN_JOB"] / long_data["ALT_JOBS"]).astype(np.float32)
    long_data["ALT_OWN_JOB"] = long_data["ALT_OWN_JOB"].fillna(0)
    
    long_data["ALT_OWN_JOB_AGREXT"] = long_data["ALT_OWN_JOB"] * long_data["AGR_EXT"]
    long_data["ALT_OWN_JOB_HIGHED"] = long_data["ALT_OWN_JOB"] * long_data["HIGH_ED"]
    long_data["ALT_OWN_JOB_LICENSE"] = long_data["ALT_OWN_JOB"] * long_data["LICENSE"]
    long_data["ALT_OWN_JOB_OTHER"] = long_data["ALT_OWN_JOB"] * long_data["OTHER_JOB"]
    
    del long_data["AGE_18_34"]
    del long_data["AGE_35_64"]
    del long_data["ALT_ENT"]
    del long_data["NAICS"]
    del long_data["ALT_JOBS"]
    gc.collect()

    del long_data["ALT_OWN_JOB"]
    del long_data["AGR_EXT"]
    del long_data["HIGH_ED"]
    del long_data["OTHER_JOB"]
    gc.collect()

In [48]:
include_acs_lodes_data(long_data)
gc.collect()

/tmp/ipykernel_19196/479137234.py:25: RuntimeWarning: invalid value encountered in divide
  long_data["ALT_18_34"] = (np.tile(puma_acs_data.loc[translation.loc[alt_list, 0], "Total Population 18 to 34 Years"].astype(np.int32).values, NUM_SAMPLE) / long_data["ALT_POP"].values).astype(np.float32)
/tmp/ipykernel_19196/479137234.py:27: RuntimeWarning: invalid value encountered in divide
  long_data["ALT_35_64"] = (np.tile(puma_acs_data.loc[translation.loc[alt_list, 0], "Total Population 35 to 64 Years"].astype(np.int32).values, NUM_SAMPLE) / long_data["ALT_POP"].values).astype(np.float32)
/tmp/ipykernel_19196/479137234.py:29: RuntimeWarning: invalid value encountered in divide
  long_data["ALT_65"] = (np.tile(puma_acs_data.loc[translation.loc[alt_list, 0], "Total Population 65 and Over"].astype(np.int32).values, NUM_SAMPLE) / long_data["ALT_POP"].values).astype(np.float32)
/tmp/ipykernel_19196/479137234.py:31: RuntimeWarning: invalid value encountered in divide
  long_data["ALT_FOREIGN"] = (np.tile(puma_acs_data.loc[translation.loc[alt_list, 0], "Total Population Foreign Born"].astype(np.int32).values, NUM_SAMPLE) / long_data["ALT_POP"].values).astype(np.float32)
/tmp/ipykernel_19196/479137234.py:42: RuntimeWarning: invalid value encountered in divide
  long_data["ALT_ENT"] = (np.tile(puma_lodes_data.loc[translation.loc[alt_list, 0], "ENT"].astype(np.int32).values, NUM_SAMPLE) / long_data["ALT_JOBS"].values).astype(np.float32)
/tmp/ipykernel_19196/479137234.py:49: FutureWarning: The 'lookup' method is deprecated and will be removed in a future version. You can use DataFrame.melt and DataFrame.loc as a substitute.
  long_data["ALT_OWN_JOB"] = np.where(long_data["NAICS"] == 0, 0, puma_lodes_data.lookup(np.tile(translation.loc[alt_list, 0], NUM_SAMPLE), long_data["NAICS"].replace(0, "EDU")))

0

In [49]:
def include_cbsa_data(long_data):
    cbsas = pd.read_csv("data/puma_density.csv")
    cbsas = cbsas.set_index("GEOID")
    cbsas["type_num"] = 2
    cbsas["type_num"] = np.where(cbsas["type"] == "T34", 0, cbsas["type_num"])
    cbsas["type_num"] = np.where(cbsas["type"] == "Metro", 1, cbsas["type_num"])
    # cbsas["type_num"] = np.where(cbsas["type"] == "Micro", 2, cbsas["type_num"])
    cbsas["Name_num"] = pd.factorize(cbsas["CBSA_name"])[0]
    cbsas.loc[0] = -1
    
    long_data["ALT_T34"] = np.tile(cbsas.loc[translation.loc[alt_list, 0], "type_num"].astype(np.int32).values, NUM_SAMPLE) == 0
    long_data["ALT_Metro"] = np.tile(cbsas.loc[translation.loc[alt_list, 0], "type_num"].astype(np.int32).values, NUM_SAMPLE) == 1
    long_data["ALT_Micro"] = np.tile(cbsas.loc[translation.loc[alt_list, 0], "type_num"].astype(np.int32).values, NUM_SAMPLE) == 2
    
    long_data["ALT_T34_Metro"] = (long_data["T34"].values * long_data["ALT_T34"]).astype(np.int8)
    long_data["ALT_T34_Metro"] = (long_data["T34"].values * long_data["ALT_Metro"]).astype(np.int8)
    long_data["ALT_T34_Micro"] = (long_data["T34"].values * long_data["ALT_Micro"]).astype(np.int8)
    long_data["ALT_Metro_T34"] = (long_data["METRO"].values * long_data["ALT_T34"].values).astype(np.int8)
    long_data["ALT_Metro_Metro"] = (long_data["METRO"].values * long_data["ALT_Metro"].values).astype(np.int8)
    long_data["ALT_Metro_Micro"] = (long_data["METRO"].values * long_data["ALT_Micro"].values).astype(np.int8)
    long_data["ALT_Micro_T34"] = (long_data["MICRO_adj_ORIG"] * long_data["ALT_T34"]).astype(np.int8)
    long_data["ALT_Micro_Metro"] = (long_data["MICRO_adj_ORIG"] * long_data["ALT_Metro"]).astype(np.int8)
    long_data["ALT_Micro_Micro"] = (long_data["MICRO_adj_ORIG"] * long_data["ALT_Micro"]).astype(np.int8)
    
    long_data["ALT_Name_num"] = np.tile(cbsas.loc[translation.loc[alt_list, 0], "Name_num"].astype(np.int16).values, NUM_SAMPLE)
    
    del long_data["ALT_T34"]
    del long_data["ALT_Metro"]
    del long_data["ALT_Micro"]
    del long_data["METRO"]
    gc.collect()
    
    long_data["ALT_birthstate"] = (np.tile(cbsas.loc[translation.loc[alt_list, 0], "STATEFIP"].astype(np.int32).values, NUM_SAMPLE) == long_data["POBP"]).astype(np.int8)
    long_data["ALT_samestate"] = (np.tile(cbsas.loc[translation.loc[alt_list, 0], "STATEFIP"].astype(np.int32).values, NUM_SAMPLE) == long_data["MIGSP_ORIG"]).astype(np.int8)
    
    del long_data["POBP"]
    del long_data["MIGSP_ORIG"]
    gc.collect()

In [50]:
include_cbsa_data(long_data)
gc.collect()

0

In [52]:
def include_leave_puma_data(long_data):
    leave_puma = pd.read_csv(f"data/leave_puma.csv").set_index("CHOSEN")
    leave_puma["UNEMP_PCT"] = leave_puma["UNEMP"] / (leave_puma["EMP"] + leave_puma["UNEMP"])
    leave_puma.loc[0] = 0
    
    long_data["ALT_unemp"] = np.tile(leave_puma.loc[translation.loc[alt_list, 0], "UNEMP_PCT"].astype(np.float32).values, NUM_SAMPLE)
    long_data["ALT_hhcost"] = np.tile(leave_puma.loc[translation.loc[alt_list, 0], "HH_COST"].astype(np.float32).values, NUM_SAMPLE)
    
    long_data["ALT_unemp"] = long_data["ALT_unemp"] * long_data["IN_LF"]
    
    del long_data["IN_LF"]
    gc.collect()

In [53]:
include_leave_puma_data(long_data)
gc.collect()

0

In [54]:
def include_distances(long_data):
    # reading in MIGPUMA-PUMA distance data
    distances = pd.read_csv("data/puma_distance_matrix_fixed.csv").set_index("Unnamed: 0")
    distances = distances.astype(np.int32)
    distances.index = distances.index.astype(int)
    distances.columns = distances.columns.astype(int)
    distances.loc[0] = 0
    distances[0] = 0
    # distances.columns = puma_recodes.loc[distances.columns.astype(int)].values.reshape((-1))
    
    long_data["ALT_DIST"] = distances.lookup(df.loc[long_data["custom_id"], "ORIGIN"], translation.loc[long_data["alt"], 0]).astype(np.int32)
    
    long_data["ALT_logdist"] = np.log(long_data["ALT_DIST"] + 1).astype(np.float32)
    
    long_data["ALT_cbsadist"] = (long_data["ALT_Name_num"] == long_data["CBSA_NAME_ORIG"]) * long_data["ALT_DIST"]
    
    long_data["ALT_DIST"] = (long_data["ALT_Name_num"] != long_data["CBSA_NAME_ORIG"]) * long_data["ALT_DIST"]
    long_data["ALT_logdist"] = (long_data["ALT_Name_num"] != long_data["CBSA_NAME_ORIG"]) * long_data["ALT_logdist"]
    
    del long_data["ALT_Name_num"]
    del long_data["CBSA_NAME_ORIG"]
    gc.collect()

In [55]:
include_distances(long_data)
gc.collect()

/tmp/ipykernel_19196/1181144919.py:11: FutureWarning: The 'lookup' method is deprecated and will be removed in a future version. You can use DataFrame.melt and DataFrame.loc as a substitute.
  long_data["ALT_DIST"] = distances.lookup(df.loc[long_data["custom_id"], "ORIGIN"], translation.loc[long_data["alt"], 0]).astype(np.int32)

0

In [56]:
long_data.memory_usage().sum()

44519850128

In [57]:
long_data.columns

Index(['custom_id', 'alt', 'AGE_18_22', 'AGE_23_29', 'AGE_30_39', 'AGE_40_49',
       'AGE_50_64', 'AGE_OVER_65', 'child', 'REC_CHILD', 'MARHM_new',
       'REC_NO_MAR', 'WORK2_MAR', 'WORK1_MAR', 'OTHER_FAMILY', 'IN_COLLEGE',
       'MILITARY', 'OWN_JOB_ORIG', 'HH_MED_VAL_ORIG', 'GRNTP_ORIG_ADJ',
       'SMOCP_ORIG_ADJ', 'FOREIGN', 'EDU_COLLEGE', 'EDU_LESS_HIGH',
       'PINCP_ORIG_ADJ', 'UNEMP_PCT_ORIG_ADJ', 'T34', 'MICRO_adj_ORIG',
       'LICENSE', 'CHOICE_CODE', 'av', 'ALT_POP', 'ALT_COLLEGE', 'ALT_MIL',
       'ALT_18_34', 'ALT_35_64', 'ALT_65', 'ALT_FOREIGN', 'ALT_ENT_18_34',
       'ALT_ENT_35_64', 'ALT_ENT_OVER_65', 'ALT_OWN_JOB_AGREXT',
       'ALT_OWN_JOB_HIGHED', 'ALT_OWN_JOB_LICENSE', 'ALT_OWN_JOB_OTHER',
       'ALT_T34_Metro', 'ALT_T34_Micro', 'ALT_Metro_T34', 'ALT_Metro_Metro',
       'ALT_Metro_Micro', 'ALT_Micro_T34', 'ALT_Micro_Metro',
       'ALT_Micro_Micro', 'ALT_birthstate', 'ALT_samestate', 'ALT_unemp',
       'ALT_hhcost', 'ALT_DIST', 'ALT_logdist', 'ALT_cbsadist'],
      dtype='object')

In [58]:
long_data["ASC_STAY"] = 1
long_data["ASC_LEAVE"] = 1
long_data["ASC_STAY"] = long_data["ASC_STAY"].astype(np.int8)
long_data["ASC_LEAVE"] = long_data["ASC_LEAVE"].astype(np.int8)

In [10]:
stay_vars = ["ASC_STAY", "AGE_18_22", "AGE_23_29", "AGE_30_39", "AGE_50_64", "AGE_OVER_65", "child", "REC_CHILD", "MARHM_new", "REC_NO_MAR", "WORK2_MAR", "WORK1_MAR", "OTHER_FAMILY", "IN_COLLEGE", "MILITARY", "OWN_JOB_ORIG", "HH_MED_VAL_ORIG", "GRNTP_ORIG_ADJ", "SMOCP_ORIG_ADJ", "FOREIGN", "EDU_COLLEGE", "EDU_LESS_HIGH", "T34", "MICRO_adj_ORIG"]
destchoice_vars = ["ASC_LEAVE", "ALT_pop_log", "ALT_DIST", "ALT_logdist", "ALT_cbsadist", "ALT_hhcost", "ALT_COLLEGE", "ALT_FOREIGN", "ALT_18_34", "ALT_35_64", "ALT_65", "ALT_ENT_18_34", "ALT_ENT_35_64", "ALT_ENT_OVER_65", "ALT_unemp", "ALT_T34_Metro", "ALT_T34_Micro", "ALT_Metro_T34", "ALT_Metro_Metro", "ALT_Metro_Micro", "ALT_Micro_T34", "ALT_Micro_Metro", "ALT_Micro_Micro", "ALT_OWN_JOB_AGREXT", "ALT_OWN_JOB_HIGHED", "ALT_OWN_JOB_LICENSE", "ALT_OWN_JOB_OTHER", "ALT_MIL", "ALT_birthstate", "ALT_samestate"]

In [62]:
for col in stay_vars:
    long_data[col] = long_data[col] * (long_data["alt"] == 0)
    gc.collect()
gc.collect()

In [64]:
for col in destchoice_vars:
    long_data[col] = long_data[col] * (long_data["alt"] != 0)
    gc.collect()
gc.collect()

0

In [66]:
for i in long_data.dtypes:
    print(i)

int32
int16
int8
int8
int8
int8
int8
int8
int8
int8
int8
int8
int8
int8
int8
int8
int8
float32
int32
int16
int16
int8
int8
int8
int32
float32
int8
int8
int8
int16
int8
int32
int32
int32
int8
int8
int8
float32
float32
float32
float32
float32
float32
float32
float32
int8
int8
int8
int8
int8
int8
int8
int8
bool
bool
float32
float32
int32
float32
int32
int8
int8

In [10]:
import numpy as np
import pandas as pd
from xlogit import MultinomialLogit

In [4]:
estdata = pd.read_parquet("temp.parquet.gzip")

In [5]:
stay_vars = ["ASC_STAY", "AGE_18_22", "AGE_23_29", "AGE_30_39", "AGE_50_64", "AGE_OVER_65", "child", "REC_CHILD", "MARHM_new", "REC_NO_MAR", "WORK2_MAR", "WORK1_MAR", "OTHER_FAMILY", "IN_COLLEGE", "MILITARY", "OWN_JOB_ORIG", "HH_MED_VAL_ORIG", "GRNTP_ORIG_ADJ", "SMOCP_ORIG_ADJ", "FOREIGN", "EDU_COLLEGE", "EDU_LESS_HIGH", "T34", "MICRO_adj_ORIG"]
destchoice_vars = ["ASC_LEAVE", "ALT_pop_log", "ALT_DIST", "ALT_logdist", "ALT_cbsadist", "ALT_hhcost", "ALT_COLLEGE", "ALT_FOREIGN", "ALT_18_34", "ALT_35_64", "ALT_65", "ALT_ENT_18_34", "ALT_ENT_35_64", "ALT_ENT_OVER_65", "ALT_unemp", "ALT_T34_Metro", "ALT_T34_Micro", "ALT_Metro_T34", "ALT_Metro_Metro", "ALT_Metro_Micro", "ALT_Micro_T34", "ALT_Micro_Metro", "ALT_Micro_Micro", "ALT_OWN_JOB_AGREXT", "ALT_OWN_JOB_HIGHED", "ALT_OWN_JOB_LICENSE", "ALT_OWN_JOB_OTHER", "ALT_MIL", "ALT_birthstate", "ALT_samestate"]

In [6]:
init = [15.8, -0.426, -0.571, -0.317, 0.231, 0.795, -0.471, -0.0526, -1.18, -0.57, 1.02, 0.899, 0.632, 0.692, -0.693, 0.97, 0.000000753, -0.000915, 0.000689, 0.204, -0.174, 0.0563, 0.579, -0.208, 0, 1, -0.000000302, -0.35, -0.0000278, -2.06, 0.0000654, 0.684, 3.68, 1.39, 4.62, 1.24, 2.98, 2.58, -2.1, 1.05, 1.17, 0.0409, 1.25, 0.808, -0.0367, 0.572, 2.01, 6.35, 1.54, 5.23, 2.45, 0.00018, 0.285, 2.5]

In [7]:
varnames = stay_vars + destchoice_vars

In [11]:
estdata["ALT_pop_log"] = np.log(estdata["ALT_POP"] + 1).astype(np.float32)

In [12]:
model = MultinomialLogit()

In [13]:
model.fit(X=estdata[varnames], y=estdata["CHOICE_CODE"], varnames=varnames, alts=estdata["alt"], ids=estdata["custom_id"], avail=estdata["av"], init_coeff=init)